body {
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}


@keyframes title {
    0% {background-color: rgb(252, 220, 225)}
    25% {background-color: pink}
    50% {background-color: palevioletred}
    75% {background-color: orchid}
    100% {background-color: palevioletred}
}


h1{
    text-align: center;
    font-size: 48px;
    color: aliceblue;
    animation: title 5s ease infinite;
    letter-spacing: 15px;
}

.wrap {
    max-width: 1000px;
    margin: auto;
}

.wrap img {
    width: 310px;
    height: 200px;
    margin: 10px;
    border: 2px solid pink;
    
    
}

.wrap img:hover {
    transform: translate(0, -5px);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

@keyframes move {
    from {right: 0px;}
    to {right: 200px;}
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}

.bottom  {
    font-size: 18px;
    position: relative;
    float: right;
    animation: move 5s infinite;
}