body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('img/bg.jpg') no-repeat center center fixed;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.header {
    text-align: center;
    padding-top: 30px;
    color: aliceblue;
}

